################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineMongoMigration
/MongoMigrationWebApp/obj/Debug/net6.0
/OnlineMongoMigrationProcessor/obj
/MongoMigrationWebApp/obj
/MongoMigrationWebApp/bin
/MongoMigrationWebApp/publish
/OnlineMongoMigrationProcessor/bin
/publish
/.vs/ProjectEvaluation
